body {
    font-family: jsMath-cmbx10;
    background-color: #e6f0ff;
}
#tipsAchievments-list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px 0;
}

#Achievments-overlay {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 70% auto;
    gap: 2%;
}

#calci {
   width: 30%;
   position: fixed;
   left: 70%;
   bottom: 10%;
}

#calci img {
    width: 100%;
    height: auto;
}

.tips-elements {
   
    border: white solid 0.1em;
    border-radius: 10px;
    background-color: black;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 2%;
    width: 100%;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}




.right {
    background-color: #59a640;
}

#calci {
    display: flex;
    flex-direction: column;
}
#chat {
    width: 60%;
    display: none;
    flex-direction: row;
    gap: 5%;
    margin: 1rem auto;
    
    padding: 1rem 1.5rem;
    
    border-left: 6px solid var(--border);
    border-radius: 12px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.815);
}

#return {
    text-align: center;
    text-decoration: none;


    background-color: black;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#return:hover {
    background-color: #e0e0e0;
    border-color: #999;
  }
  
  #return:active {
    transform: scale(0.98);
  }

#return a {
    color: white;
    text-decoration: none;
}

#chat img {
    width: 100%;
    height: auto;
}

.tips-elements img {
    width: 50%;
    height: auto;
}



#tips-headline {
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: white solid 0.2em;
    border-radius: 10px;
}

#tips-headline h1 {

    font-size: xx-large;
    text-align: center;
    color: white;
}