:root {
    --fontColor: #7aaaab;
    --backgroundColorBox: #e5e2d3;
    --backgroundColor: #051BA9;
    --right: #346224;
    --false: #A62929;
    --border: #FFFFFF;
}

body {
    background-image: url(./img/background.jpg);
    background-size: cover;
    overflow-y: hidden;
}

#headline {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 40vw;
    height: auto;
    transform: rotate(6.856deg);
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; 
    animation: infinite  headlineMoving 3s;
}

@keyframes headlineMoving {
    
    0% {
        transform: rotate(6.856deg);
    }

    50% {
        transform: rotate(-13,712deg);
        transform: scale(1.2);
    }

    100% {
        transform: rotate(6.856deg);
        
    }
}

#headline h1 {
    color: var(--fontColor);
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--fontColor);
    font-family: jsMath-cmbx10;
    font-size: 12vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 12.16px;
}

#box {
    display: grid;
    grid-template-columns: auto;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 2%;
    background-color: var(--backgroundColorBox);
    border: 5px solid var(--border);
    border-radius: 3%;
    color: var(--fontColor);
    font-size: larger;
}

#button {
    margin-right: auto;
    margin-left: auto;
}

#button img {
    width: 70%;
}

#createPlayer {
    display: grid;
    grid-template-columns: auto;
    gap: 5%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#submit {
    width: 20%;
    background-color: var(--backgroundColorBox);
    color: var(--fontColor);
    margin-left: auto;
    font-size: x-large;
    text-align: center;
}

.boxCreate {
    background-color: var(--backgroundColorBox);
    gap: 5%;
    display: grid;
    grid-template-columns: auto;
} 

.boxCreate label {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    color: var(--fontColor);
}

.boxCreate input {
    background-color: var(--backgroundColorBox);
    border: 2px solid var(--border);
    padding-top: 2%;
    padding-bottom: 2%;
    color: var(--fontColor);
}

@keyframes buttonForm {
    from {
        width: 40%;
        opacity: 0.5;
    }

    to {
        width: 20%;
        opacity: 1;
        background-color: var(--backgroundColorBox);
    }
}